div(class="index")
    div(ng-if="players.length == 0")
        table(class="options")
            tr
                td
                    label(for="playerName") Enter Player Name:
                    span(class="required") *
                td
                    input(type="text", ng-model="playerName", name="Player Name", id="playerName", class="input-lg",
                    maxlength="15")
            tr
                td
                    label(for="selectGame") Select Game:
                    span(class="required") *
                td
                    label(for="selectColor") Select Color:
                    span(class="required") *
            tr
                td
                    li(ng-repeat="game in games", ng-click="gameSelected(game)")
                        div(ng-class="{'selected': selectedGame.id === game.id}",
                            class="name") {{game.game.name}}
                            span(ng-if="selectedGame.id == game.id", class="glyphicon glyphicon-ok ok")
                td
                    li(ng-repeat="color in colors", ng-click="colorSelected(color)")
                        div(ng-class="{'selected': selectedColor === color}",
                        class="name") {{color}}
                            span(ng-if="selectedColor == color", class="glyphicon glyphicon-ok ok {{color}}")
            tr
                td
                td
                    input(type="button", ng-click="joinGame()", name="JOIN", value="JOIN",
                    class="btn btn-success buttons rightFloat", ng-disabled="!playerName || !selectedGame || !selectedColor")
    div(ng-if="players")
        div Joined Players:
            div(ng-repeat="player in players") {{player.name}}