.tbl-buttons {
    margin-top: 100%;
}

.button {
    width: 200px;
    height: 40px;
}

.select {
    width: 40px;
}

.property0 {
    background: url("../../images/prop0.png");
}

.property1 {
    background: url("../../images/prop1.png");
}

.property2 {
    background: url("../../images/prop2.png");
}

.property3 {
    background: url("../../images/prop3.png");
}

.property4 {
    background: url("../../images/prop4.png");
}

.property5 {
    background: url("../../images/prop5.png");
}

.property6 {
    background: url("../../images/prop6.png");
}

.property7 {
    background: url("../../images/prop7.png");
}

.property8 {
    background: url("../../images/prop8.png");
}

.property9 {
    background: url("../../images/prop9.png");
}

.property10 {
    background: url("../../images/prop10.png");
}

.property11 {
    background: url("../../images/prop11.png");
}

.property12 {
    background: url("../../images/prop12.png");
}

.property13 {
    background: url("../../images/prop13.png");
}

.property14 {
    background: url("../../images/prop14.png");
}

.property15 {
    background: url("../../images/prop15.png");
}

.property16 {
    background: url("../../images/prop16.png");
}

.property17 {
    background: url("../../images/prop17.png");
}

.property18 {
    background: url("../../images/prop18.png");
}

.property19 {
    background: url("../../images/prop19.png");
}

.property20 {
    background: url("../../images/prop20.png");
}

.property21 {
    background: url("../../images/prop21.png");
}

.property22 {
    background: url("../../images/prop22.png");
}

.property23 {
    background: url("../../images/prop23.png");
}

.property24 {
    background: url("../../images/prop24.png");
}

.property25 {
    background: url("../../images/prop25.png");
}

.property26 {
    background: url("../../images/prop26.png");
}

.property27 {
    background: url("../../images/prop27.png");
}

.property28 {
    background: url("../../images/prop28.png");
}

.property29 {
    background: url("../../images/prop29.png");
}

.property30 {
    background: url("../../images/prop30.png");
}

.property31 {
    background: url("../../images/prop31.png");
}

.property32 {
    background: url("../../images/prop32.png");
}

.property33 {
    background: url("../../images/prop33.png");
}

.property34 {
    background: url("../../images/prop34.png");
}

.property35 {
    background: url("../../images/prop35.png");
}

.property36 {
    background: url("../../images/prop36.png");
}

.property37 {
    background: url("../../images/prop37.png");
}

.property38 {
    background: url("../../images/prop38.png");
}

.property39 {
    background: url("../../images/prop39.png");
}

.cell {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
    border-spacing: 20px;
}

#board {
    border: 2px solid black;
    border-spacing: 3px;
    margin: 25px;
    float: left;
}

.board-center {
    width: 675px;
    border: none;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
}

.board-corner {
    width: 102px;
    height: 102px;
}

.board-top {
    width: 72px;
    height: 102px;
}

.board-bottom {
    width: 72px;
    height: 102px;
}

.board-left {
    width: 102px;
    height: 72px;
}

.board-right {
    width: 102px;
    height: 72px;
}

.cell-position-holder {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.property-image {
    background-repeat: no-repeat;
    background-size: 100%;
}

.cell-anchor {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;
}

.playersPosition {
    height: 20px;
    width: 20px;
}

.board-top .cell-owner {
    width: 72px;
    height: 15px;
    background-image: url("Images/hori-bar.png");
    background-size: cover;
    position: absolute;
    top: -25px;
    left: 0px;
}

.board-bottom .cell-owner {
    width: 72px;
    height: 15px;
    background-image: url("Images/hori-bar.png");
    background-size: cover;
    position: absolute;
    bottom: -25px;
    left: 0px;
}

.board-left .cell-owner {
    width: 15px;
    height: 68px;
    background-image: url("Images/vert-bar.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    left: -25px;
}

.board-right .cell-owner {
    width: 15px;
    height: 68px;
    background-image: url("Images/vert-bar.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: -25px;
}

.BLACK {
    background-color: #000000;
}

.WHITE {
    background-color: #ffffff;
}

.TOMATO {
    background-color: tomato;
}

.DARKVIOLET {
    background-color: darkviolet;
}

.TEAL {
    background-color: teal;
}

.DARKTURQUOISE {
    background-color: darkturquoise;
}

.PERU {
    background-color: peru;
}

.GREEN {
    color: green;
}

.GREEN {
    color: green;
}

#control {
    position: absolute;
    z-index: 9;
    top: 160px;
    left: 160px;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    width: 610px;
}

#control td {
    vertical-align: middle;
}

.control-actions td {
    width: 130px;
}

.playersInfo {
    margin-top: 20px;
    text-align: center;
}

.playersInfo td {
    font-style: oblique;
    font-size: 30px;
    font-weight: bolder;
}

.landed {
    padding: 3px;
    border: 1px solid gray;
    border-top: none;
    width: 520px;
    margin: 0px;
    text-align: center;
    font-size: x-large;
}

#alert {
    width: 520px;
    height: 350px;
    margin: 0px;
    padding-left: 1px;
    border: 1px solid gray;
    font-family: Consolas, Courier New, monospace;
    font-size: 13px;
    background-color: #FFFFFF;
    overflow-y: scroll;
}

#manage {
    width: 308px;
    border: 1px solid gray;
    display: none;
}

#option {
    border-bottom: 1px solid gray;
    background-color: white;
    display: none;
    background: white;
    vertical-align: middle;
    padding: 3px;
    text-align: center;
    min-height: 26px;
}

#buildings {
    margin: auto;
    height: 21px;
    font-size: 16px;
    font-weight: bold;
}

#owned {
    padding: 3px 0px;
    background-color: white;
    text-align: center;
    max-height: 390px;
    overflow-y: auto;
}

#owned .propertycellname {
    vertical-align: top;
}

.dice {
    float: right;
    width: 60px;
    height: 60px;
    background-size: cover;
}

.dice1 {
    background-image: url("../../images/dice1.png");
}

.dice2 {
    background-image: url("../../images/dice2.png");
}

.dice3 {
    background-image: url("../../images/dice3.png");
}

.dice4 {
    background-image: url("../../images/dice4.png");
}

.dice5 {
    background-image: url("../../images/dice5.png");
}

.dice6 {
    background-image: url("../../images/dice6.png");
}

body {
    background-color: powderblue;
}