#board {
    border: 2px solid black;
    border-spacing: 3px;
    margin: 25px;
    float: left;
}

.board-center {
    width: 675px;
    border: none;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
}

.board-corner {
    width: 102px;
    height: 102px;
}

.board-top {
    width: 72px;
    height: 106px;
}

.board-bottom {
    width: 72px;
    height: 102px;
}

.board-left {
    width: 102px;
    height: 72px;
}

.board-right {
    width: 102px;
    height: 72px;
}

.cell {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: auto 40px;
    border-spacing: 20px;
}

.cell-position-holder {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.cell-anchor {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;
}

.playersPosition {
    height: 20px;
    width: 20px;
}

.White {
    background-color: #ffffff;
    color: #000000;
}

.Tomato {
    background-color: tomato;
    color: #000000;
}

.Darkviolet {
    background-color: darkviolet;
    color: #ffffff;
}

.Darkturquoise {
    background-color: darkturquoise;
    color: #000000;
}

.Peru {
    background-color: peru;
    color: #000000;
}

.Green {
    background-color: green;
    color: #ffffff;
}

.Black {
    background-color: #000000;
    color: #ffffff;
}

.board-top .cell-owner {
    width: 72px;
    height: 15px;
    /*background-image: url("Images/hori-bar.png");*/
    background-size: cover;
    position: absolute;
    top: -25px;
    left: 0px;
}

.board-bottom .cell-owner {
    width: 72px;
    height: 15px;
    /*background-image: url("Images/hori-bar.png");*/
    background-size: cover;
    position: absolute;
    bottom: -25px;
    left: 0px;
}

.board-left .cell-owner {
    width: 15px;
    height: 68px;
    /*background-image: url("Images/vert-bar.png");*/
    background-size: cover;
    position: absolute;
    top: 0px;
    left: -25px;
}

.board-right .cell-owner {
    width: 15px;
    height: 68px;
    /*background-image: url("Images/vert-bar.png");*/
    background-size: cover;
    position: absolute;
    top: 0px;
    right: -25px;
}

.prop0 {
    background: url("/app/static/images/property-images/prop0.png");
}

.prop1 {
    background: url("/app/static/images/property-images/prop1.png");
}

.prop2 {
    background: url("/app/static/images/property-images/prop2.png");
}

.prop3 {
    background: url("/app/static/images/property-images/prop3.png");
}

.prop4 {
    background: url("/app/static/images/property-images/prop4.png");
}

.prop5 {
    background: url("/app/static/images/property-images/prop5.png");
}

.prop6 {
    background: url("/app/static/images/property-images/prop6.png");
}

.prop7 {
    background: url("/app/static/images/property-images/prop7.png");
}

.prop8 {
    background: url("/app/static/images/property-images/prop8.png");
}

.prop9 {
    background: url("/app/static/images/property-images/prop9.png");
}

.prop10 {
    background: url("/app/static/images/property-images/prop10.png");
}

.prop11 {
    background: url("/app/static/images/property-images/prop11.png");
}

.prop12 {
    background: url("/app/static/images/property-images/prop12.png");
}

.prop13 {
    background: url("/app/static/images/property-images/prop13.png");
}

.prop14 {
    background: url("/app/static/images/property-images/prop14.png");
}

.prop15 {
    background: url("/app/static/images/property-images/prop15.png");
}

.prop16 {
    background: url("/app/static/images/property-images/prop16.png");
}

.prop17 {
    background: url("/app/static/images/property-images/prop17.png");
}

.prop18 {
    background: url("/app/static/images/property-images/prop18.png");
}

.prop19 {
    background: url("/app/static/images/property-images/prop19.png");
}

.prop20 {
    background: url("/app/static/images/property-images/prop20.png");
}

.prop21 {
    background: url("/app/static/images/property-images/prop21.png");
}

.prop22 {
    background: url("/app/static/images/property-images/prop22.png");
}

.prop23 {
    background: url("/app/static/images/property-images/prop23.png");
}

.prop24 {
    background: url("/app/static/images/property-images/prop24.png");
}

.prop25 {
    background: url("/app/static/images/property-images/prop25.png");
}

.prop26 {
    background: url("/app/static/images/property-images/prop26.png");
}

.prop27 {
    background: url("/app/static/images/property-images/prop27.png");
}

.prop28 {
    background: url("/app/static/images/property-images/prop28.png");
}

.prop29 {
    background: url("/app/static/images/property-images/prop29.png");
}

.prop30 {
    background: url("/app/static/images/property-images/prop30.png");
}

.prop31 {
    background: url("/app/static/images/property-images/prop31.png");
}

.prop32 {
    background: url("/app/static/images/property-images/prop32.png");
}

.prop33 {
    background: url("/app/static/images/property-images/prop33.png");
}

.prop34 {
    background: url("/app/static/images/property-images/prop34.png");
}

.prop35 {
    background: url("/app/static/images/property-images/prop35.png");
}

.prop36 {
    background: url("/app/static/images/property-images/prop36.png");
}

.prop37 {
    background: url("/app/static/images/property-images/prop37.png");
}

.prop38 {
    background: url("/app/static/images/property-images/prop38.png");
}

.prop39 {
    background: url("/app/static/images/property-images/prop39.png");
}

.prop {
    background-size: cover;
}

#playersInfo {
    margin: 25px;
    width: 500px;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 110%;
}

.index {
    background: url("/app/static/images/monopoly.jpg") no-repeat;
    background-size: 100% 110%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.index .options {
    margin-left: 60%;
    margin-top: 30%;
}

.index .options .buttons {
    margin-top: 5%;
    width: 50%;
}

.rightFloat {
    float: right;
}

.noOfPlayers {
    width: 100%;
}

.required {
    color: red;
    font-size: x-large;
}

.gamesList {
    display: inline-block;
    width: 90%;
}

li .name {
    background-color: lightgreen;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
}

li .selected {
    background-color: green;
    color: #ffffff;
}

ul, li, ol {
    list-style: none;
}

.ok{
    padding-right: 5%;
    float: right;
}