doctype html
head
    script(type="text/javascript", src="./bower_components/jquery/jquery.min.js")
    script(type="text/javascript", src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
    link(rel="stylesheet", href="./bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="./app/static/css/monopoly.css")
    title MONOPOLY
html
    body
        div(class="index")
            div(class="options")
                div
                    a(href="server/")
                        button(class="btn btn-lg buttons btn-primary") Create Game
                div
                    a(href="client/")
                        button(class="btn btn-primary btn-lg buttons") Join Game
                button(class="btn btn-primary btn-lg buttons", disabled) Instructions