div(class="index")
    table(class="options")
        tr
            td
                label(for="gameName") Enter Game Name
                span(class="required") *
            td
                input(id="gameName", type="text", ng-model="gameName", class="input-lg", maxlength="15")
        tr
            td
                label(for="noOfPlayers") Number Of Players
                span(class="required") *
            td
                select(id="noOfPlayers", ng-model="noOfPlayers", class="noOfPlayers")
                    option 2
                    option 3
                    option 4
        tr
            td
            td
                input(type="button", ng-click="createGame()", value="Create Game",
                class="btn btn-success buttons rightFloat", ng-disabled="!gameName || !noOfPlayers")