div
    center
        strong Game Name: {{gameInfo.name}}

div
    table(id="board")
        tr
            td(ng-repeat="property in gameInfo.properties", class="cell",
            ng-if="property.id >= 20 && property.id <= 30",
            ng-class="{'board-corner': property.id == 20 || property.id == 30,'board-top': property.id != 20 && property.id != 30}")
                div(class="cell-anchor")
                    div(id="cell{{property.id}}positionHolder", class=" cell-position-holder {{getClass(property)}} prop")
                        div(ng-repeat="player in gameInfo.players", ng-if="player.position == property.id",
                        class="playersPosition {{player.color}}")
                    div(class="cell-owner {{property.owner.color}}")
        tr(ng-repeat="property in gameInfo.properties"
        ng-if="property.id > 30 && property.id < 40")
            td(class="cell board-left")
                div(class="cell-anchor")
                    div(id="cell{{50-property.id}}positionHolder",
                    class="cell-position-holder {{getClass(gameInfo.properties[50-property.id])}} prop")
                        div(ng-repeat="player in gameInfo.players", class="playersPosition {{player.color}}",
                        ng-if="player.position == gameInfo.properties[50-property.id].id")
                    div(class="cell-owner {{gameInfo.properties[50-property.id].owner.color}}")
            td(class="board-center", colspan="9")
            td(class="cell board-right")
                div(class="cell-anchor")
                    div(id="cell{{property.id}}positionHolder",
                    class="cell-position-holder {{getClass(property)}} prop")
                        div(ng-repeat="player in gameInfo.players", ng-if="player.position == property.id",
                        class="playersPosition {{player.color}}")
                    div(class="cell-owner {{property.owner.color}}")
        tr
            td(ng-repeat="property in gameInfo.properties", class="cell"
            ng-if="property.id >= 20 && property.id <= 30"
            ng-class="{'board-corner': property.id == 20 || property.id == 30,'board-bottom': property.id > 20 && property.id < 30}")
                div(class="cell-anchor")
                    div(id="cell{{30-property.id}}positionHolder"
                    class="cell-position-holder {{getClass(gameInfo.properties[30-property.id])}} prop")
                        div(ng-repeat="player in gameInfo.players", class="playersPosition {{player.color}}",
                        ng-if="player.position == gameInfo.properties[30-property.id].id")
                    div(class="cell-owner {{gameInfo.properties[30-property.id].owner.color}}")
div
    table(id="playersInfo", class="table table-bordered")
        tr
            th Name
            th Money
            th Color
        tr(ng-repeat="player in gameInfo.players")
            td {{player.name}}
            td {{player.money}}
            td {{player.color}}