doctype html
head
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/app/static/css/monopoly.css")
    title Server
html
    body(class="body")
        div(ng-app="Monopoly")
            script(src="/bower_components/angular/angular.min.js")
            script(src="/bower_components/angular-route/angular-route.min.js")
            script(type="text/javascript", src="/bower_components/jquery/jquery.min.js")
            script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
            div(ng-view)
            script(src="/app/static/js/src/server/init.js")
            script(src="/app/static/js/src/server/controllers/createGameController.js")
            script(src="/app/static/js/src/server/controllers/gameInfoController.js")
            script(src="/app/static/js/src/server/services/serverService.js")
            script(src="/app/static/js/src/server/app.js")
