<div>
    <table id="board">
        <tr>
            <td ng-repeat="property in properties" class="cell"
                ng-if="property.getPropertyNumber() >= 20 && property.getPropertyNumber() <= 30 "
                ng-class="{'board-corner': property.getPropertyNumber() == 20 || property.getPropertyNumber() == 30,
                    'board-top': property.getPropertyNumber() != 20 && property.getPropertyNumber() != 30}">
                <div class="cell-anchor">
                    <div class="property-image cell-position-holder {{property.getClass()}}">
                        <div ng-repeat="player in players"
                             ng-if="player.getPosition() == property.getPropertyNumber()"
                             class="playersPosition {{player.color}}">
                        </div>
                    </div>
                    <div class="cell-owner {{property.getOwner().color}}">

                    </div>
                </div>
            </td>
        </tr>
        <tr ng-repeat="property in properties"
            ng-if="property.getPropertyNumber() > 30 && property.getPropertyNumber() < 40">
            <td class="cell board-left">
                <div class="cell-anchor">
                    <div class=" property-image cell-position-holder {{properties[50-property.getPropertyNumber()].getClass()}}">
                        <div ng-repeat="player in players"
                             ng-if="player.getPosition() == properties[50-property.getPropertyNumber()].getPropertyNumber()"
                             class="playersPosition {{player.color}}">

                        </div>
                    </div>
                    <div class="cell-owner {{properties[50-property.getPropertyNumber()].getOwner().color}}">

                    </div>
                </div>
            </td>
            <td class="board-center" colspan="9">

            </td>
            <td class="cell board-right">
                <div class="cell-anchor">
                    <div class=" property-image cell-position-holder {{property.getClass()}}">
                        <div ng-repeat="player in players"
                             ng-if="player.getPosition() == property.getPropertyNumber()"
                             class="playersPosition {{player.color}}">

                        </div>
                    </div>
                    <div class="cell-owner {{property.getOwner().color}}">

                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td ng-repeat="property in properties" class="cell"
                ng-if="property.getPropertyNumber() >= 20 && property.getPropertyNumber() <= 30 "
                ng-class="{'board-corner': property.getPropertyNumber() == 20 || property.getPropertyNumber() == 30,
                          'board-bottom': property.getPropertyNumber() > 20 && property.getPropertyNumber() < 30}">
                <div class="cell-anchor">
                    <div class="property-image cell-position-holder {{properties[30-property.getPropertyNumber()].getClass()}}">
                        <div ng-repeat="player in players" class="playersPosition {{player.color}}"
                             ng-if="player.getPosition() == properties[30-property.getPropertyNumber()].getPropertyNumber()">

                        </div>
                    </div>
                    <div class="cell-owner {{properties[30-property.getPropertyNumber()].getOwner().color}}">

                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="control">
    <table>
        <tr>
            <td style="text-align: left; vertical-align: top; border: none;">
                <div id="buy">
                    <div id="alert">
                        <h5 ng-repeat="msg in messages track by $index">
                            <i><b>{{msg}}</b></i>
                            <br>
                        </h5>
                    </div>
                    <div ng-hide="!showOption.Buy" class="landed">
                        Do you want to
                        <button class="btn btn-info btn-sm"
                                ng-click="buy()">Buy
                        </button>
                        "{{properties[currentPlayer.getPosition()].getName()}}"
                    </div>

                    <div ng-hide="!showOption.Rent" class="landed">
                        You landed on {{properties[currentPlayer.getPosition()].getName()}}
                        <button class="btn btn-info btn-sm"
                                ng-click="payRent()">Pay
                        </button>
                        $"{{properties[currentPlayer.getPosition()].getRent()}}" to
                        {{properties[currentPlayer.getPosition()].getOwner().getName()}}
                    </div>

                    <div ng-hide="!showOption.Tax" class="landed">
                        You landed on {{properties[currentPlayer.getPosition()].getName()}}
                        <button class="btn btn-info btn-sm"
                                ng-click="payTax()">Pay
                        </button>
                        $"{{properties[currentPlayer.getPosition()].getPrice()}}" to
                        Bank
                    </div>

                    <div ng-hide="!showOption.CommunityChest" class="landed">
                        You landed on {{properties[currentPlayer.getPosition()].getName()}}
                        <button class="btn btn-info btn-sm"
                                ng-click="drawCommunityChestCard()">Draw
                        </button>
                        community chest card.
                    </div>
                </div>
            </td>
            <td style="vertical-align: top; border: none;">
                <div id="quick-stats" style="">
                    <div id="p-name">
                        <b>
                            {{currentPlayer.name}}
                        </b>
                    </div>
                    <div id="p-money">
                        <b>
                            {{currentPlayer.money}}
                        </b>
                    </div>
                </div>
                <div ng-switch on="dice1">
                    <div ng-switch-when="1" class="dice dice1"></div>
                    <div ng-switch-when="2" class="dice dice2"></div>
                    <div ng-switch-when="3" class="dice dice3"></div>
                    <div ng-switch-when="4" class="dice dice4"></div>
                    <div ng-switch-when="5" class="dice dice5"></div>
                    <div ng-switch-when="6" class="dice dice6"></div>
                    <div ng-switch-default="6" class="dice dice6"></div>
                </div>
                <div ng-switch on="dice2">
                    <div ng-switch-when="1" class="dice dice1"></div>
                    <div ng-switch-when="2" class="dice dice2"></div>
                    <div ng-switch-when="3" class="dice dice3"></div>
                    <div ng-switch-when="4" class="dice dice4"></div>
                    <div ng-switch-when="5" class="dice dice5"></div>
                    <div ng-switch-when="6" class="dice dice6"></div>
                    <div ng-switch-default="6" class="dice dice6"></div>
                </div>
            </td>
        </tr>
    </table>
    <table class="control-actions">
        <tr>
            <td>
                <div>
                    <button class="btn btn-success btn-sm" title="View, mortgage, and improve your property. ">
                        Manage
                    </button>
                    <button class="btn btn-success btn-sm" title="Exchange property with other players.">Trade
                    </button>
                </div>
            </td>
            <td>
                <div>
                    <button id="resign_button" class="btn btn-danger btn-sm">
                        Resign
                    </button>
                </div>
            </td>
            <td>
                <div>
                    <button id="roll-button" class="btn btn-info btn-sm"
                            title="If you cannot pay your debt then you must resign from the game."
                            ng-disabled="currentPlayer.isHeRolled()" ng-click="rollDice()">Roll Dice
                    </button>
                </div>
            </td>
            <td>
                <div>
                    <button id="end-turn-button" title="End turn and advance to the next player."
                            class="btn btn-warning btn-sm" ng-disabled="!currentPlayer.isHeRolled() || showBuyOption"
                            ng-click="endTurn()">
                        End Turn
                    </button>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="playersInfo">
    <div>
        <table class="table-bordered">
            <tr>
                <th>
                    Player Name
                </th>
                <th>
                    Player Color
                </th>
                <th>
                    Player Money
                </th>
            </tr>
            <tr ng-repeat="player in players">
                <td>
                    {{player.name}}
                </td>
                <td>
                    {{player.color}}
                </td>
                <td>
                    {{player.money}}
                </td>
            </tr>
        </table>
    </div>
    <div>
        <button class="btn-sm btn-info btn-sm" style="margin-left: 90px; margin-top: 20px">
            View Stats
        </button>
    </div>
</div>



