<div class="container">
    <div class="row">
        <div class="col-md-4 clearfix">
            <table class="tbl-buttons">
                <tr>
                    <td>
                        <button class="btn btn-info button" data-toggle="modal" data-target="#single-player-model">
                            Single Player
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" class="btn btn-inverse button" value="Multi Player" disabled>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="singlePlayerModelLabel"
             aria-hidden="true" id="single-player-model">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="singlePlayerModelLabel">Single Player</h4>
                        </div>

                        <div id="modal-body">
                            <table>
                                <tr>
                                    <td>
                                        Number Of Players:
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="noOfPlayers"
                                                ng-change="createPlayers()">
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr ng-if="noOfPlayers > 0" ng-repeat="player in players">
                                    <td>
                                        Enter Player Details
                                    </td>
                                    <td>
                                        <input type="text" ng-model="player.name" class="input-sm form-control"
                                               placeholder="Name">
                                    </td>
                                    <td>
                                        <select class="form-control" ng-model="player.color">
                                            <option>BLACK</option>
                                            <option>WHITE</option>
                                            <option>TOMATO</option>
                                            <option>DARKVIOLET</option>
                                            <option>TEAL</option>
                                            <option>DARKTURQUOISE</option>
                                            <option>PERU</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <input type="button" class="btn btn-success" ng-disabled="noOfPlayers == 0" value="START GAME" aria-hidden="true" data-dismiss="modal" ng-click="startGame()" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
